name: Benchmark OpenCV on RISC-V

on: [pull_request]

jobs:
  build_and_test:
    runs-on: self-hosted
    steps:
    - name: Clean workspace
      run: |
        rm -rf ${{ github.workspace }}/*

    - name: Build
      run: |
        echo 1
